<?xml version="1.0"?>
<config>
	<modules>
		<ETeng_Catalog>
			<version>0.1.0</version>
		</ETeng_Catalog>
	</modules>

	<frontend>
		<routers>
			<catalog>
				<use>standard</use>
				<args>
					<module>ETeng_Catalog</module>
					<frontName>mul</frontName>
				</args>
			</catalog>	
		</routers>
	</frontend>
</config>